@import "../../main.scss";

// Banner Section
.banner-section-blog-details {
    position: relative;
    overflow: hidden;

    .img-container-blog-details {
        width: 100%;
        max-height: 500px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        @media (max-width: 768px) {
            max-height: 300px;
        }

        @media (max-width: 480px) {
            padding: 0 15px;
        }
    }

    .banner-overlay-blog-details {
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 22px;
        align-items: start;
        text-align: left;
        padding: 0 390px;


        h1 {
            color: $text_color_dark;
            font-size: 56px;
            line-height: 1.2;
            z-index: 3;
        }

        p {
            color: $text_color_dark;
            font-weight: 400 !important;
            font-size: 14px;
            line-height: 1.2;
            z-index: 3;

            i {
                color: $primary_orange_color;
                margin-right: 4px;
            }
        }

        @media (max-width: 1200px) {
            padding: 0 140px;
        }

        @media (max-width: 992px) {
            padding: 0 50px;
        }

        @media (max-width: 768px) {
            padding: 0 40px;

            h1 {
                font-size: 44px;
            }

            p {
                font-size: 16px;
            }
        }

        @media (max-width: 480px) {
            padding: 10px 20px;

            h1 {
                font-size: 24px;
            }

            p {
                font-size: 12px;
            }
        }
    }

}


// Content section
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 390px;
    padding-bottom: 30px;

    @media (max-width: 1200px) {
        padding: 0 140px;
    }

    @media (max-width: 992px) {
        padding: 0 50px;
    }

    @media (max-width: 768px) {
        padding: 0 40px;
    }

    @media (max-width: 480px) {
        padding: 0 20px;
    }

    .blog-detail-image {
        border-radius: 10px;
        min-width: 100%;
        margin-top: -50px;
        margin-bottom: 20px;
        z-index: 4;

        @media (max-width: 768px) {
            position: relative;
            margin-top: 0;
            padding-top: 20px;
        }

        img {
            height: 100%;
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
            display: block;
        }
    }

    em {
        font-weight: 500 !important; 
        margin-top: -4px !important;
        font-style: normal !important;
        font-size: 16px;
        font-family: "Outfit", sans-serif !important;
    }

    h1,
    h2,
    h3 {
        margin-top: 24px;
        margin-bottom: 16px;
        color: $text_color_dark;
    }

    p {
        margin-bottom: 16px;
    }

    ul,
    ol {
        margin-left: 20px;
        margin-bottom: 16px;
    }

    a {
        color: $primary_orange_color;
        text-decoration: underline !important;

        &:hover {
            text-decoration: none;
        }
    }

    strong {
        font-family: "Outfit", sans-serif !important;
        font-optical-sizing: auto !important;
        font-style: normal !important;
        font-weight: 700 !important;
        display: block;
        font-size: 20px;
        margin-top: 40px;
    }
}


// Bottom tagline
.bottom-tagline {
    position: relative;
    overflow: hidden;

    .bottom-tagline-background {
        width: 100%;
        max-height: 140px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        @media (max-width: 768px) {
            max-height: 100px;
        }

        @media (max-width: 480px) {
            max-height: 80px;
        }
    }

    .bottom-tagline-overlay {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        @media (max-width: 992px) {
            align-items: center;
        }

        @media (max-width: 768px) {
            align-items: center;
        }

        @media (max-width: 480px) {
            align-items: center;
        }

        h2 {
            color: $text_color_dark;
            font-size: 28px;
            line-height: 1.2;
            z-index: 3;

            @media (max-width: 768px) {
                font-size: 24px;
            }

            @media (max-width: 480px) {
                font-size: 18px;
            }
        }

    }
}